<!doctype html>
<html>
    <head>
        <title>pyNIA</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />
        <link rel="icon" type="image/png" href="static/images/pynia_icon.png" />
        <script type="text/javascript" src="static/lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/lib/underscore-min.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
    </head>
    <body>
        <div id="main">
            <canvas id="canvas" width="600" height="351"></canvas>
        </div>
        <div id="console-wrapper">
            <textarea id="console" readonly="readonly"></textarea>
        </div>
    </body>
</html>
