$def with (brain_fingers)
<!doctype html>
<html>
    <head>
        <title>pyNIA</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />
        <link rel="icon" type="image/png" href="static/images/pynia_icon.png" />
    </head>
    <body>
        <div id="main">
            <!-- add a canvas, or three -->
        </div>
        <div id="console-wrapper">
            <textarea id="console" readonly="readonly">
$if brain_fingers:
    06-09hz => $brain_fingers[0]
    09-12hz => $brain_fingers[1]
    12-15hz => $brain_fingers[2]
    15-20hz => $brain_fingers[3]
    20-25hz => $brain_fingers[4]
    25-30hz => $brain_fingers[5]
            </textarea>
        </div>
    </body>
</html>
